#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Базовая настройка mod_rewrite
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Запрещаем обращения к файлам/папкам, начинающимся с точки.
RewriteRule "(^|/)\." - [F]

# Перманентное обрезание trailing slash
RewriteRule ^(.*)/$ $1 [R=301,L]

# Убираем www префикс, если SSL выключен (вроде сертификат привязывается к полному дому, не?)
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ %1%{REQUEST_URI} [R=301,L]

# Если не файл, не папка, не ссылка - принимаем все на index.php
# QSA - Query String Append - добавляем данные из QUERY_STRING
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]


AddDefaultCharset UTF-8
AddCharset UTF-8 .php

php_value default_charset "UTF-8"

php_value iconv.input_encoding "UTF-8"
php_value iconv.internal_encoding "UTF-8"
php_value iconv.output_encoding "UTF-8"

php_value mbstring.internal_encoding UTF-8
php_value mbstring.http_output UTF-8
php_value mbstring.encoding_translation On
php_value mbstring.func_overload 6
# Заголовок Cache-Control
<IfModule mod_headers.c>
        Header append Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>

# Заголовок Expires
<IfModule mod_expires.c>
        ExpiresActive On ExpiresDefault "now"
</IfModule>