*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100%;
    width: 100%;
    background: #cdeaff;
}

.title
{
    float: left;
}

.login
{
    float: right;
}
#chat
{
    background: #92aec3;
    height: 100%;
}

#sendMessageText
{
    width: 100%;
    height: 24px;
    resize: vertical;
}

.success
{
    background: #c1ffb7;
}