*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #cdeaf1;
}

.chat
{
    background: #90aec3;
}

#sendMessageText
{
    width: 100%;
    height: 24px;
    resize: vertical;
}

.success
{
    background: #c1ffb7;
}